# Python
__pycache__/
*.py[cod]
venv/
*.env
.pytest_cache/

# Node
node_modules/
**/package-lock.json
*.log

# IDEs and editors
.idea/
.vscode/
.DS_Store

# Build
**/build/
dist/

# Default React assets
**/public/logo*.png

configs/local.env
